// Variables
@fore-color: white;
@link-color: silver;
@link-color-hover: white;

@navbar-bg: #303D4E;
@main-bg: #454e5f;
@professional-bg: #626A7A;
@skills-bg: #715173;
@academic-bg: #74627A;
@contact-bg: #715173;

@brand-primary: #303D4E;
@brand-success: #454E5F;
@gray-lighter: lighten(#000, 93.5%);
